* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
